.logo {
  @include margin(null auto);
  @include position(absolute, $base-spacing 0 null);
  display: block;
  height: ($large-spacing * 3);
  width: 100%;

  @include media($large-screen) {
    height: inherit;
    margin: 0;
    max-width: 80%;
    position: static;

    + hr {
      margin-top: $large-spacing;
    }
  }
}
